@charset "UTF-8";
/* 작성자: 김용호 */
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f8ff;
    color: #333;
}



/* 메인  */
main {
    margin-top: 60px; 
    margin-left: 0 auto;
    padding: 2rem;
    max-width: calc(100% - 200px);
    min-height: calc(100vh - 60px);
    display: flex;
	flex-direction: column; 
}





/* 테이블 스타일 */

table {
width: 100%;
border-collapse: collapse;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
text-align: center;
align-items:center;
border: 1px solid black;

}

thead th {
    background-color: #e0f4ff; /* 헤더 배경색 */
    color: #333;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

tbody td {
    padding: 10px;
    text-align: center;
}




button {
    padding: 8px 16px;
    background-color: #87ceeb; /* 버튼 배경색 */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6ab7d5; /* 호버 시 색상 */
}