@charset "UTF-8";

*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #f0f8ff;
}

main{
	position: relative;
	top: 80px;
	margin-bottom: 200px;
	padding-bottom: 200px;
	
}
.main_body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	background-color: #fff;
	border-radius: 10px;
	width:1280px;
	padding: 40px;
}

table, th, td{
	border-collapse: collapse;
	border: 1px solid black;
}

th{
	background-color: #e0f4ff;
}
th, td{
	width:150px;
	height: 50px;
	text-align: center;
}

.insert_box, select{
	width: 95%;
	height: 90%;
}

.buttons button{
	width: 70px;
	height: 30px;
}
