<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.project.repository.AttendanceDAO">

    <insert id="insertAttendance" parameterType="com.ict.project.vo.personnel.AttendanceVO">
        INSERT INTO Worktype (emp_idx, work_date, worktype, start_time)
        VALUES (#{emp_idx}, CURDATE(), #{worktype}, #{start_time});
    </insert>

    <update id="updateAttendance" parameterType="com.ict.project.vo.personnel.AttendanceVO">
        UPDATE Worktype
        SET end_time = #{end_time}
        WHERE emp_idx = #{emp_idx} AND work_date = CURDATE();
    </update>

    <select id="findTodayAttendance" parameterType="string" resultType="com.ict.project.vo.personnel.AttendanceVO">
        SELECT *
        FROM Worktype
        WHERE emp_idx = #{emp_idx} AND work_date = CURDATE();
    </select>

    <select id="getWeeklyAttendance" parameterType="string" resultType="com.ict.project.vo.personnel.AttendanceVO">
        SELECT *
        FROM Worktype
        WHERE emp_idx = #{emp_idx} AND work_date >= DATE_SUB(CURDATE(), INTERVAL 7 DAY);
    </select>

    <select id="getTodayAttendance" resultType="com.ict.project.vo.personnel.AttendanceVO">
        SELECT *
        FROM Worktype
        WHERE work_date = CURDATE();
    </select>

</mapper>