<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="calendar">
	 <select id="getAllEvents" resultType="com.ict.project.vo.personnel.CalendarVO">
        SELECT * FROM calendar
    </select>

    <select id="getEventById" parameterType="int" resultType="com.ict.project.vo.personnel.CalendarVO">
        SELECT * FROM calendar WHERE calendar_idx = #{calendar_idx}
    </select>

    <insert id="insertEvent" parameterType="com.ict.project.vo.personnel.CalendarVO">
        INSERT INTO calendar (emp_idx, title, comment, start_day, end_day)
        VALUES (#{emp_idx}, #{title}, #{comment}, #{start_day}, #{end_day})
    </insert>

    <delete id="deleteEvent" parameterType="int">
        DELETE FROM calendar WHERE calendar_idx = #{calendar_idx}
    </delete>

    <update id="updateEvent" parameterType="com.ict.project.vo.personnel.CalendarVO">
        UPDATE calendar
        SET title = #{title}, comment = #{comment}, start_day = #{start_day}, end_day = #{end_day}
        WHERE calendar_idx = #{calendar_idx}
    </update>
</mapper>















