<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="manager">
<!-- 작성자 : 김기섭(empDataRegister), 		-->



	<!-- 1. Users 테이블에 회원 정보 저장 -->
	<insert id="insertUser"
		parameterType="com.ict.project.vo.personnel.UsersVO"
		useGeneratedKeys="true"
        keyProperty="user_idx">
		INSERT INTO users (emp_email, emp_name, emp_password, home, detail_home,
		phone_number, gender, birthday)
		VALUES (#{emp_email}, #{emp_name}, #{emp_password}, #{home}, #{detail_home},
		#{phone_number}, #{gender}, #{birthday})
	</insert>

	<!-- 2. 직원 이메일(로그인에서 아이디 역할) 중복확인 -->
	<select id="checkEmpIdxDuplicate" parameterType="String" resultType="int">
    SELECT COUNT(*) FROM employee WHERE emp_idx = #{empIdx}
	</select>

	<!-- 3. Employee 테이블에 직원 정보 저장 -->
	<insert id="insertEmployee"
		parameterType="com.ict.project.vo.personnel.EmployeeVO">
		INSERT INTO employee (user_idx,emp_idx,emp_id,position,pay_grade,hire_date,team,location,attitude_type,employment_type)
		VALUES (#{user_idx},#{emp_idx},#{emp_id},#{position},#{pay_grade},#{hire_date},#{team},#{location},#{attitude_type},#{employment_type})
	</insert>

	<!--  4. EmpPicture 테이블에 프로필 사진 정보 저장 -->
	<insert id="insertEmpPicture"
		parameterType="com.ict.project.vo.personnel.pFile.EmpPictureVO">
		INSERT INTO emppicture (emp_idx, f_name, f_path, f_width, f_height)
		VALUES (#{emp_idx}, #{f_name}, #{f_path}, #{f_width}, #{f_height})
	</insert>
	
	
	<!-- 5. 직원리스트에서 직원 데이터 불러오기 -->
	<select id="selectEmployeeList"
		resultType="com.ict.project.vo.personnel.EmployeeVO">
		SELECT *
		FROM employee
	</select>

	<!-- 6. 직원 이메일(로그인에서 아이디 역할) 중복확인 -->
	<select id="checkEmailDuplicate" resultType="int">
		SELECT COUNT(*) FROM users WHERE emp_email = #{email}
	</select>

	<!-- 7. 직원번호 중복확인 -->
	<select id="checkEmpIdDuplicate" resultType="int">
		SELECT COUNT(*) FROM employee WHERE emp_id = #{empId}
	</select>
</mapper>